{% extends "nav.html" %}
{% block content %}
{% load static %}
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                       
                      <span>
                        Next-Gen System for Pet Health Management
                      </span>
                      <span>
                        
                        Care Your Pet
                      </span>
                    </h1>
                  
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      
                      <span>
                        Next-Gen System for Pet Health Management
                      </span>
                      
                    </h1>
                    
                    <div class="btn-box">
                      <a href="parameters" class="btn-1">
                        Parameters
                      </a>
                      <a href="precautions" class="btn-2">
                        Precautions
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      
                      <span>
                        Next-Gen System for Pet Health Management
                      </span>
                    </h1>
                    
                    <div class="btn-box">
                      <a href="breeds" class="btn-1">
                        Breeds
                      </a>
                      <a href="reviews" class="btn-2">
                        Reviews
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      
                      <span>
                        Next-Gen System for Pet Health Management
                        
                      </span>
                      
                    </h1>
                    <div class="btn-box">
                      <a href="about" class="btn-1" >
                       About
                      </a>
                      <a href="news" class="btn-2">
                      News
                      </a>
                    </div>
                   
                   <!--<div class="btn-box">
                      <a href="" class="btn-1">
                        Hai
                      </a>
                      <a href="" class="btn-2">
                       Har
                      </a>
                    </div>-->          
                     </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{% static 'images/slider-img.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

 
  <!-- footer section -->
{% endblock %}